<!doctype html>
<html lang="en">
  <head>
     {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

     <!-- font awsome -->
    <script src="https://kit.fontawesome.com/d428118b52.js"></script>

    <!-- My custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Portfolio</title>
  </head>
  <body>
    <!----------- Header Start here ---------------->
    <header>
          <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Chandra Shekhar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://drive.google.com/file/d/1nVb0pQ_-GZciAqsop0TKiOi2Z4iDUkOp/view?usp=sharing" download="Chandrashekhar resume" target="_blank">Resume</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-sm p-2"><a style="text-decoration: none;" href="mailto: ace.cs99@gmail.com">Email</a></button>
          </li>
        </ul>
      </div>
    </nav>
    </header>
    <!----------- Header End here ---------------->
       <section id="intro">
          <!-- this tag is create a 200px space -->
          <div class="container-fluid spacer bg-light"></div> 
          <!-- Intro is start from here -->
          <div class="container-fluid main_intro_tag">
            <div class="row justify-content-around child_intro_tag">
            <!--intro social icon --> 
              <div class="social_icon">
                <ul>
                  <li><a href="https://www.facebook.com/ace.cs09" target="_blank" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://www.instagram.com/naman_rx/" target="_blank" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/chandra-shekhar-saw-291377151/" target="_blank" data-toggle="tooltip" data-placement="right" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="https://github.com/Chandrashekhar9" target="_blank" data-toggle="tooltip" data-placement="right" title="Git"><i class="fab fa-github"></i></a></li>
                </ul>
              </div>
              <!-- End social icon -->
              <div class="col-md-4 ">
                <img src="{% static 'naman.jpg' %}" class="img-fluid image_tag" />
                <div id="abox"></div>
              </div>
              <div class="col-md-5 mt-5 text-center summry">
                <span class="hello_span">Hello,</span>
                <h3 id="h3tag">I am <span id="Shekhar">Chandra Shekhar Saw</span></h3>
                <p id="ptag">A Freelancer Web Developer</p>
                <button  type="button" class="btn btn-primary hireme" onclick="relocate()">HIRE ME</button>
              </div>
            </div>
          </div>
          <!-- Intro end here -->

               <!-- this tag is create a 200px space -->
          <div class="container-fluid spacer bg-light"></div> 


      <!----------- About me Section ---------------->
      <section id="aboutme">
        <div class="py-5 bg-light">
          <div class="container">
            <h1 class="text-center">ABOUT ME</h1>
            <div class="row">
              <div class="col-md-6 text-left my-4">
                <p class="about_ptag1">Lunched in 2019 as a portfolio for show cas about me and my work abilities and bloging as well as.
                My journey is on the right side that shows when i compelete my .... .if you are looking for a web developer then you'll feel right at home here. I design fully functional and responsive website, and those are in <a href="">my skills.</a> </p>
                <p class="about_ptag2">Blog: I like bloging and if you are intrested in technology and coding then you gona love to read my blog.
                  Everyday i learn lots of new things about technology and i love to share them. so why are you waiting for <a href="">click here</a>  and read my blog.</p>
              </div>
              <div class="col-md-6" id="myjourney">
                  <h3 class="text-center my-4">MY JOURNEY</h3>
                  <div class="journey_box">
                    <ul>
                      <li><span id="lists">2010/ Compeleted 10th. <em>(State board)</em></span></li>
                      <li><span id="lists">2013/ Compeleted 12th. <em>(State board)</em></span></li>
                      <li><span id="lists"> 2019/ Graduated <em>B.E. (CSE)</em></span></li>
                      <li><span id="lists">2019/March/ Started Freelancing.</span></li>
                      <li><span id="lists">at Present.../Learning Android </span></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

          <!----------- My Skills Section ---------------->
    <section id="myskills" class="my-4">
      <div class="py-5 bg-dark">
        <div class="container">
          <h1 class="text-center mb-4">MY SKILLS</h1>
          <div class="row">
            <div class="col-md-6 my-3">
              <h3>Bootstrap</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuemin="0" aria-valuemax="100">70%</div>   
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h3>Django</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 60%;"  aria-valuemin="0" aria-valuemax="100">60%</div>   
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h3>Angular JS</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 25%;"  aria-valuemin="0" aria-valuemax="100">25%</div>   
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h3>Rest API</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 20%;"  aria-valuemin="0" aria-valuemax="100">20%</div>   
              </div>
            </div>
           <div class="col-md-6 my-3">
              <h3>My SQL</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 80%;"  aria-valuemin="0" aria-valuemax="100">80%</div>   
              </div>
            </div>
           <div class="col-md-6 my-3">
              <h3>PostgreSQL</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuemin="0" aria-valuemax="100">65%</div>   
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h3>Android</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuemin="0" aria-valuemax="100">30%</div>   
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h3>Data Analysis</h3>
              <div class="progress my-2">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuemin="0" aria-valuemax="100">20%</div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


       <!----------------- Projects Section -------------->
  <section id="services">
    <div class="py-5 bg-light">
      <div class="container">
        <h1 class="text-center pb-3">MY OFFERED SERVICES</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="service_box">
              <i class="fas fa-magic"></i><span>Web Design</span>
              <p>I can make a best responsive and user friendly design.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service_box">
              <i class="fas fa-file-code"></i><span>Web Development</span>
              <p>I am using django for Back-End & Postgres, MySQL for data base which can intrast with best back
                _end service.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service_box">
              <i class="fas fa-sync-alt"></i><span>Web Scraping</span>
              <p>If you want to scrap any web site and also ananlysis the data.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>


   <!------------------ Hire me --------------------------->
  <section id="Hire_me_section" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9 d-flex align-items-center">
          <h2>I'm <span>Available</span> For Freelancing</h2>
        </div>
        <div class="col-md-4 col-lg-3 align-items-center">
          <button type="button" class="btn btn-primary btn-lg" onclick="relocate()">Hire me</button>
        </div>
      </div>
    </div>
  </section>



   <!------------ Socials ------------------>
  <section class="socials">
    <div class="py-5 bg-light my-4">
      <div class="container">
        <h1 class="text-center">Follow me on:</h1>
        <div class="social_icon_2 text-center my-4">
          <a href="https://www.facebook.com/ace.cs09" target="_blank" ><img src="{% static 'facebook.svg' %}"></a>
          <a href="https://www.instagram.com/naman_rx/" target="_blank"><img src="{% static 'instagram.svg' %}"></a>
          <a href="https://www.linkedin.com/in/chandra-shekhar-saw-291377151/" target="_blank"><img src="{% static 'linkedin.svg' %}"></a>
          <a href="https://www.quora.com/profile/Chandra-Shekhar-178" target="_blank"><img src="{% static 'quora.svg' %}"></a>
          <a href="https://github.com/Chandrashekhar9" target="_blank"><img src="{% static 'git.svg' %}"></a>
        </div>
      </div>
    </div>
  </section>




  <!-------------------- Footer start here ---------------------->
     <footer id="footer">
       <div class="py-2 bg-dark text-white">
         <div class="container my_footer">
          <h1 class="text-center">CONTACT</h1>
           <div class="row my_footer_list text-center">
             <div class="col-md-4">
               <i class="fas fa-phone-alt"></i><span>+91 7974131413</span>
             </div>
             <div class="col-md-4">
               <i class="fas fa-envelope"></i><span>ace.cs99@gmail.com</span>
             </div>
             <div class="col-md-4">
               <i class="fas fa-home"></i><span>Raipur (C.G.) 492004</span>
             </div>
           </div>
          <hr class="hr_tag" />
           <div class="row">
             <div class="col-md-12">
               <p class="text-center">
            Copyright &copy; 2019 All rights reserved |  
            <a href="#intro" style="text-decoration: none;">Chandra Shekhar Saw</a>
            </p>
             </div>
           </div>
         </div>
       </div>
     </footer>
     <!-------------------- Footer End here ---------------------->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

      function relocate()
      {
        location.href = "https://www.freelancer.in/u/Erudtech?w=f";
      } 
    </script>
  </body>
</html>